[2021-05-21 14:51] jwhui opened #57 "[docs] simplicity commander link broken"
https://github.com/openthread/ot-efr32/pull/56/checks?check_run_id=2640309338

[2021-05-21 16:49] romacdon commented on #57
@lmnotran can you take care of this?  Thanks

[2021-05-27 17:49] jwhui commented on #57
@lmnotran @romacdon , the submodule update PRs are currently blocked on this CI check. If you prefer, I can continue to merge the PRs with the understanding that the markdown check is expected to fail. What do you prefer?

[2021-05-27 18:44] lmnotran commented on #57
@jwhui Sorry about the delay. Somehow I missed the notification saying I was assigned this issue. I'm working on a fix, but you can go ahead and merge the submodule update PRs even with the failing markdown check. Thanks!

[2021-05-27 21:14] #57 closed

[2021-08-04 18:27] gabekassel opened #113 "Enabling coexistence on efr32mg1 RCP without Simplicity Studio"
I currently build an MG1 RCP image directly from OT without Simplicity Studio. I've made some minor modifications to add custom diag commands and in general building from source fits my workflow much better.

I'd like to enable PTA coexistence now that it's supported. I found the app note and how to configure via SS within `sl_rail_util_coex_common_config.h` and `sl_rail_util_coex_config.h`. It ap

[2021-08-05 14:17] schinchani commented on #113
Hi @gabekassel

The coexistence feature for OpenThread is currently supported only via Simplicity Studio. There are additional pieces involved with this feature (besides the configuration headers and the catalog definitions) not available in OT GitHub today. The underlying changes (you are seeing in radio code) were added as a first step, in case, we plan to support it in the future.

Thanks.

[2021-08-05 14:57] gabekassel commented on #113
Unfortunately it's complicated to use Simplicity Studio given some changes I've made in ot-efr32.

It seems like [this](https://github.com/openthread/ot-efr32/compare/main...gabekassel:mg1-coex?expand=1) attempt compiles, but I've not scoped lines to see if coex is working. Tracing includes in Simplicity Studio, I don't see much more than this.

[2021-08-05 15:45] schinchani commented on #113
Hi @gabekassel

I briefly looked at your changes. While I see that your changes are in the right direction, to get coexistence working in OT GitHub, you will definitely need to define `SL_CATALOG_RAIL_UTIL_IEEE802154_PHY_SELECT_PRESENT` along with `SL_CATALOG_RAIL_UTIL_COEX_PRESENT`(at minimum) and then resolve the dependencies. When working in Simplicity Studio, these dependencies are resolved vi

[2021-08-05 17:00] gabekassel commented on #113
Thanks. `SL_CATALOG_RAIL_UTIL_COEX_PRESENT` is already defined in my change set. I'll play with `SL_CATALOG_RAIL_UTIL_IEEE802154_PHY_SELECT_PRESENT`

[2021-08-05 23:55] gabekassel commented on #113
@schinchani thanks for the pointers. do you know if `coex metrics` should work with MG1 RCP and the Silabs coex implementation? trying to baseline if this works or not

[2021-08-06 06:07] schinchani commented on #113
Hi @gabekassel

`coex metrics`, as defined by OpenThread (via otRadioCoexMetrics) is not supported by the Silabs coex implementation. However, Silabs coex implementation does support counters which track a subset of these metrics.

For a project built from Simplicity Studio, you can retrieve these metrics using the `coexistence get-counters` command.  For more details refer to coexistence_cli.c.

[2021-08-18 07:47] rohithanayady opened #125 "Sleepy Demo-FTD do not become Router"
I have created a Thread network with Border Router as leader(rcp). Then flashed the sleepy-demo-ftd (hard cored the Thread network as created by the leader)code.  The sleepy demo ftd joined as a child, but it still remains as child. After the specified time of 3 min it is still Child. What will be the reason for sleepy-demo-ftd do not become a router and still it is Child(I have searched on this,

[2021-08-18 17:22] lmnotran commented on #125
Hi @rohithanayady ,

I'm unable to test using a border router as the leader right now, but I was able to test using a node running `ot-cli-ftd` as the leader. With this setup, I was able to observe the `sleepy-demo-ftd` node upgrade to a router.

I will see if I'm able to get someone from my team to test using a Border Router.

<img width="1207" alt="Screen Shot 2021-08-18 at 1 04 47 PM" src="http

[2021-09-02 09:34] George-Stefan opened #137 "Broken OT 1.2 support in openthread/ot-efr32"
I reviewed the latest radio.c from ot-efr32 (https://github.com/openthread/ot-efr32/blob/main/src/src/radio.c).

It looks like the Enh-ACK doesn't get to be encrypted because
txCurrentPacket() doesn't call radioProcessTransmitSecurity() as is expected by writeIeee802154EnhancedAck().

Since openthread/ot-efr32@d3b94c0#diff-5e9808c35ace5ab51673c2a099131b5480e0220c41bcc1ccdf5141ef5a3e25e3

[2021-09-02 17:13] romacdon commented on #137
Hi @George-Stefan - Thanks for reporting this. We are aware of issues with both CSL and enhanced acks and are currently working on resolutions.  We'll update this issue went fixes have been pushed.  Thanks again.

[2021-09-14 19:21] jwhui commented on #125
Closing stale issue.

[2021-09-14 19:21] #125 closed

[2021-09-14 19:22] #113 closed

[2021-12-09 12:42] HeFeng1947 opened #200 "How can I generate firmware for unofficial development boards?"
I have EFR32MG21A020F768 module, and the official development board (4180A) chip is a different version of Flash.
How do I change the chip model without modifying any peripheral IO?

[2021-12-13 21:10] lmnotran commented on #200
Hi @HeFeng1947 ,

While we only officially support a few boards in this repository, there are a couple methods that might achieve what you're trying to do.

Please keep in mind that this is unsupported officially and is not guaranteed to work.

## Shorter method
The easiest, albeit a bit crude, solution might be to edit [this line](https://github.com/openthread/ot-efr32/blob/main/src/efr32mg21/efr

[2021-12-14 10:35] HeFeng1947 commented on #200
Thanks so much for your feedback!
I have tried the two methods on your list, but nothing works. I see the definition of Flash in the src/efr32mg21/efr32mg21.ld, but I'm not sure if I should change it

[2021-12-21 09:57] HeFeng1947 commented on #200
I have successfully replaced the chip model of BRD4180A with EFR32MG21A020F768.

The following is the patch:

[code]

[2021-12-21 09:57] #200 closed

[2022-01-24 05:56] Leo2442926161 opened #227 "RCP API Version: 5"
there is an error when I using connectedhomeip/otbr:te7

`Jan 24 05:43:06 leo-virtual-machine otbr-web[252]: [ERR ]-WEB-----: OpenThread daemon is not running.
Jan 24 05:43:06 leo-virtual-machine otbr-agent[224]: 49d.17:03:30.014 [NOTE]-PLAT----: RCP API Version: 5
Jan 24 05:43:06 leo-virtual-machine otbr-agent[224]: 49d.17:03:30.014 [CRIT]-PLAT----: RCP API Version 5 is not in the supported range

[2022-01-24 06:09] jwhui commented on #227
@Leo2442926161 , you are trying to use a recent RCP build with a not-so-recent host build.

`SPINEL_RCP_API_VERSION` was incremented to 5 in https://github.com/openthread/openthread/pull/7118.

I suggest updating your host side implementation to one that includes https://github.com/openthread/openthread/pull/7118.

[2022-01-24 06:54] Leo2442926161 commented on #227
Hi Jwhui, thanks very much for you quick reply.

I am using the matter border-router with connectedhomeip/otbr:te7, how do I upgrade it?

[2022-01-24 07:01] jwhui commented on #227
If you want to use that particular Docker image, then you can try building an RCP image from some time before https://github.com/openthread/openthread/pull/7118 was merged.

[2022-01-24 07:09] Leo2442926161 commented on #227
Hi Jwhui, thanks again.

it works when I used old version, but it was running a little bit odd. for example,there is an error returned when I following a demo that pairing devices to border router, do you know what's going on?

Error 23: NotFound

Active Timestamp: 1
Channel: 17
Channel Mask: 0x07fff800
Ext PAN ID: 071e65b3434eee82
Mesh Local Prefix: fd8b:c900:524e:abc5::/64
Network Key: 36abed0b2

[2022-01-25 03:56] HeFeng1947 opened #229 "rcp version is not openthread stack version"
The current RCP firmware version queried by otbr-posix command is the commit of ot-efr32 project, not the openthread protocol stack version. This resulted in an inability to match the otbr-posix version, while the ot-nrf528XX project was the same.

**Is openThread clearly defined at this point?**

If we want to write to the OpenThread stack version, only need to mask a few lines of the CMAKE file.

[2022-01-25 04:32] jwhui commented on #229
@HeFeng1947 , the current behavior is expected and was implemented with #115. This change was implemented in response to https://github.com/openthread/ot-nxp/issues/44.

Since, `openthread/opentrhead` is included as a submodule, you should be able to map from `openthread/ot-efr32` commit to `openthread/openthread` commit.

[2022-01-25 04:34] jwhui commented on #227
@Leo2442926161 , can you enough detail to reproduce your setup? Please include hardware, git revisions, build commands, etc.

@romacdon @lmnotran , have you run into this issue before?

[2022-01-25 05:44] Leo2442926161 commented on #227
Hi Jwhui, thank you so much for your help.

maybe that caused by exceptional "out/python_env/bin/chip-device-ctrl", which I post a feedback it in this link: https://github.com/project-chip/connectedhomeip/issues/13857

I checked the RCP commit (ec69725) out and running it on BRD4166A, the host is running at Ubuntu 20.04 in VMware.

the commands are below:
docker run -d --name "otbr" -it --rm --net

[2022-01-25 06:52] HeFeng1947 commented on #229
I understand the logic of the current provision, but considering that there is no direct correspondence with otbr-posix version, would you consider adding the protocol stack version in the version information?

[2022-01-25 06:59] jwhui commented on #229
@HeFeng1947 , the primary concern I have is that the `openthread/openthread` git hash does not provide any information about the `openthread/ot-efr32` repo. In other words, more than one commit in `openthread/ot-efr32` can map to the same commit in `openthread/openthread`.

[2022-01-25 07:05] HeFeng1947 commented on #229
Yes, I understand your concern. My problem is that the RCP firmware version doesn't match the otbr-posix version, and while we can do a commit mapping table, it doesn't look very elegant.
Thank you very much for your reply!

[2022-01-25 07:10] #229 closed

[2022-01-25 15:10] hemanth-silabs commented on #227
Hi @Leo2442926161 Can you post the sequence of commands you used on otbr before `dataset active -x`?

I am unsure about the connection reset error you are seeing, but I was able to reproduce the **NotFound** error at my end, and I don't think this is a bug. I can see this happen in the case where you have created a dataset on a factory reset otbr, and have not committed this yet.

In my case I was

[2022-02-07 18:19] lmnotran opened #238 "[build] integrate silabs tool for code generation"
Hi @jwhui ,

Is it acceptable for me to integrate our [SLC-CLI](https://www.silabs.com/documents/public/user-guides/ug520-software-project-generation-configuration-with-slc-cli.pdf) tool into the ot-efr32 repo?

Section 2.1 of [UG520: Software Project Generation & Configuration with slc-cli](https://www.silabs.com/documents/public/user-guides/ug520-software-project-generation-configuration-with-sl

[2022-02-09 18:48] jwhui commented on #238
@lmnotran , thanks for raising this issue. This all sounds fine to me.

[2022-02-09 18:51] #238 closed

[2022-02-09 18:51] lmnotran commented on #238
I figured as much, but thanks for confirming @jwhui !

[2022-02-15 16:40] jwhui opened #246 "[github-actions] build checks fail intermittently"
Log snippet:
[code]

[logs_566.zip](https://github.com/openthread/ot-efr32/files/8072901/logs_566.zip)
https://github.com/openthread/ot-efr32/runs/5195633403?check_suite_focus=true

[2022-02-15 16:40] jwhui commented on #246
@lmnotran , can you help take a look?

[2022-02-17 20:07] lmnotran commented on #246
Hi @jwhui ! That's strange. We haven't changed anything related to this check recently. I'll look into it. Thanks!

[2022-02-17 20:10] jwhui commented on #246
@lmnotran , it's actually been happening for quite some time. I just haven't reported it until now. Thanks for taking a look!

[2022-02-18 06:23] jwhui commented on #246
Another example: https://github.com/openthread/ot-efr32/runs/5243657339?check_suite_focus=true

[2022-02-19 08:37] Leo2442926161 commented on #227
Hi Hemanth,

I am so sorry for reply late beacause of long holiday.

it works after the version of rcp matched otbr, thanks very much.

[2022-02-26 05:34] jwhui commented on #246
Another instance: https://github.com/openthread/ot-efr32/runs/5342665788?check_suite_focus=true

[2022-03-01 06:36] #246 closed

[2022-04-04 14:43] HeFeng1947 opened #280 "Poor performance in throughput test"
Hardware: QCA9531(host) + efr32mg21 / nrf52840 (rcp); efr32 connect with usb2uart, nrf52840 connect with native usb
Software OS: OpenWRT 17.07.7
Test device version and uart config:
<html>
<body>
<!DOCTYPE html>

ot-br-posix(OTBR) version | ot-efr32(RCP) version | ot-nrf528xx(RCP) version | OpenThread version| UART
-- | -- | -- | -- |  --
2021-10-19-ae90b33289 | 2021-10-19-1fbf6bb |   | 71e4df9 |

[2022-04-04 14:47] HeFeng1947 commented on #280
@lmnotran Can you help to see why the efr32 performance is so low? Is there a similar test done inside silabs?

[2022-04-06 01:40] HeFeng1947 commented on #280
Yes, there may be some performance differences, but the EFR32's performance seems awful. Based on the results of current tests, the EFR32 solution does not appear to meet commercial standards.

[2022-04-06 12:50] HeFeng1947 commented on #280
Update some new test results:
QCA9531(host) + 52840DK(rcp), connect with usb2uart(same as efr32), no flow control
host msg buffer 356; 460800 bardrate: Lose 7% packet at 80kbps
host msg buffer 3076; 921600 bardrate: work great at 250kbps, lose 0% packet

When we test efr32 at **host msg buffer 3076; 921600 bardrate**, it doesn't work. We still try to find out the problem.

[2022-04-06 14:42] silabs-JimL commented on #280
@HeFeng1947 Thanks for reporting this. May I know the exact usb2uart converter?
From our experience, most of the usb2uart converters don't work well enough and have an impact on the performance.

I'll do some tests and then get back to you.

Jim

[2022-04-07 02:03] HeFeng1947 commented on #280
Hi Jim, we are currently mainly based on three USB2UART converter tests.

- CH340 (not support full hardware flow control)
- CH343P (support full hardware flow control)
- CP2102 (support full hardware flow control)

Considering the price, we currently prefer to use the CH343P.

[2022-04-07 16:46] jwhui commented on #280
@HeFeng1947 , is it possible to use SPI instead of UART? SPI allows for greater reliability and higher data rates.

[2022-04-08 02:48] HeFeng1947 commented on #280
This doesn't seem feasible in our product proposal. And the feasibility of UART scheme has been tested in Nordic 52840 scheme. I really don't understand why silabs scheme has such a serious problem or just my configuration error.

[2022-04-08 09:44] silabs-JimL commented on #280
I tested with a USB stick based on EFR32 + CP210x (UART2USB converter with hardware flowcontrol).

I can get 0% packet loss as well with 250kbps, buffer count 3076.
`
iperf -V -c fd30:89c2:5240:1:438b:cad2:d205:169b -u -i 1 -b 250k -l 1k
------------------------------------------------------------
Client connecting to fd30:89c2:5240:1:438b:cad2:d205:169b, UDP port 5001
Sending 1000 byte datagrams,

[2022-04-09 01:16] HeFeng1947 commented on #280
@silabs-JimL Jim，which posix commit and iperf version are you tested? Did you compile with the ot-efr32 project or did you use the silabs IDE? Is the baud rate 115200 or 460800?

[2022-04-09 03:36] silabs-JimL commented on #280
@HeFeng1947 , I tested it with multiple commits.

- RCP created by Silicon Labs Simplicity Studio Gecko SDK 4.0.2
- OTBR 5be35949c6f
- baudrate 460800, hardware flow control
- Thread msg buffer 4096

And I also tested with the latest commit this morning.
- RCP   cef0a4c on ot-efr32
- OTBR 355a415db0
- baudrate 460800, hardware flow control
- Thread msg buffer 4096

**Server side:**
[code]

**Clien

[2022-04-09 13:02] silabs-JimL commented on #280
@HeFeng1947  Update the test result here. After disabled the OpenThread's internal TCP implementation, I can run iperf3 test now.
Below is the test result.

- Hardware
  -  Raspberry (Ubuntu 20.04) + EFR32 connected with CP2102N
  -  PC (Ubuntu 20.04)  + EFR32 connected with CP2102N
- Software
  -  RCP:  commit cef0a4c on ot-efr32
  -  OTBR: commit 355a415db0 on ot-br-posix

**100kbps**
[code]

**

[2022-04-12 08:59] silabs-JimL commented on #280
@HeFeng1947 I don't think you can use my firmware directly as I'm using a USB stick based on EFR32MG21B010F1024IM32.
![image](https://user-images.githubusercontent.com/64514832/162922134-761dfcb7-f370-49dc-a27c-eb5edf2f8119.png)

But I still attached it here as you requested. Pay attention that you need to flash a bootloader for this rcp firmware.
[ot-rcp.zip](https://github.com/openthread/ot-efr3

[2022-04-14 10:23] HeFeng1947 commented on #280
Update our new test result:
## efr32mg21a020f768im32 + cp2102n + qca9531

- wifi channel: 1
- thread channel: 12
- thread tx power: 10

[code]

[code]

[code]

- wifi channel: 1
- thread channel: 12
- thread tx power: 20

[code]

[code]

[code]

- wifi channel: 1
- thread channel: 26
- thread tx power: 20

[code]

[code]

[code]

[code]

[code]

[code]

**bufferinfo**

[code]

- wifi channel: 1
-

[2022-04-15 04:31] HeFeng1947 commented on #280
@silabs-JimL Jim, has silabs run similar throughput tests? I understand that EFR32 should be close to the theoretical upper limit in terms of purely 802.15.4 wireless transceiver. However, in current tests with OpenThread, the actual throughput of NRF52840 is approximately **26%** higher than that of EFR32. Are there any EFR32 parameters that can be adjusted to improve performance?

[2022-04-15 09:23] silabs-JimL commented on #280
@HeFeng1947 I'm not aware of any parameters that could impact this. The hardware is totally different.
May I know why this is important for you?

[2022-04-15 09:44] HeFeng1947 commented on #280
I just want to increase the communication speed as much as possible. I think this actual communication rate will be an important performance metric for OTBR. So far I have got the performance parameters I want, I think this issue can be closed.
@jwhui @silabs-JimL Thank you for your hard work!

[2022-04-15 09:44] #280 closed

[2022-04-15 09:47] silabs-JimL commented on #280
@HeFeng1947 Sure.  I don't think that you should care about it too much. For the OTBR, the co-existence of Thread and WiFi will have a much bigger impact on the throughput. And we already have a mature solution for that.

[2022-04-15 10:20] HeFeng1947 commented on #280
yeah, I agree with it. In fact, we test silabs's co-existence of zigbee and wifi about 2 years ago and the results not great. Silabs's solution works well with your own wifi chips, but it doesn't seem to work well with other manufacturers' wifi chips(we test with Qualcomm's ipq4019).
Please let me know if there is any new development recently.

[2022-04-15 12:14] silabs-JimL commented on #280
Yes, that's true. The PTA solution is based on 802.15.2 which is not an official standard. Some of the wifi chips don't support this. It's recommended to choose those wifi chips with PTA support.
Please contact our local sales team to learn the latest status. Thanks.

[2022-04-20 11:49] jinpeng1989 opened #292 "The maximum number of retries on mac layer is more than dozen times."
The range of macMaxFrameRetries in 802.15.4-2006 is 0-7. A dozen were observed in my test environment. There have the same sequence number.
![image](https://user-images.githubusercontent.com/97089879/164223711-729385a0-1e70-4b5f-a989-39859661ed56.png)
![image](https://user-images.githubusercontent.com/97089879/164224013-2b97d9dd-f997-4bfe-922d-f68dcd03a2da.png)

[2022-04-20 14:19] jwhui commented on #292
@jinpeng1989 , this behavior is expected. The default value for [`OPENTHREAD_CONFIG_MAC_DEFAULT_MAX_FRAME_RETRIES_DIRECT` is 15](https://github.com/openthread/openthread/blob/5c8a9cb5bc28ce6f794c0d8db7189b1f2dd586ba/src/core/config/mac.h#L73).

[2022-04-21 01:43] jinpeng1989 commented on #292
In IEEE802.15.4-2006, the range of macMaxFrameRetries is between 0 and 7.
![image](https://user-images.githubusercontent.com/97089879/164354665-b00936f6-7d30-443c-adee-4a55fc080bd0.png)

[2022-04-21 01:48] jwhui commented on #292
@jinpeng1989 , the latest Thread Specification modifies the IEEE 802.15.4 and specifies a value of 15. If you are Thread Group member, you can download the latest Thread Specification.

[2022-04-21 01:50] jinpeng1989 commented on #292
OK. Thank you.

[2022-06-17 11:46] lancersky opened #331 "Join failed [Security]"
Hi Experts,
In my test environment, a Silicon Labs BRD4180A as Commissioner, the firmware built from Simplicity Studio, and the version is
[code]
And a NRF52840 USB dongle as Joiner, the firmware built from https://github.com/openthread/ot-nrf528xx/commit/27a002fbc6abc36974a25666282705c4b73d723c
[code]
The two devices are very close together, but the Joiner join failed at last.
Here is the failed

[2022-06-18 09:01] romacdon commented on #137
Hi @George-Stefan -changes were pushed to the repo yesterday to bring in support for the latest Silabs GSDK (4.1) which also brings in fixes to CSL and enhanced ack processing.  This should address the issues you were having.  Please reach out if you continue to have issues after upgrading.

[2022-06-19 03:15] lancersky opened #333 "Difference acknowledgment frame in GSDK3.2.1 and GSDK4.0.2"
Hi Experts,
I found that the ACK of GSDK3.2.1 and GSDK4.0.2 are different. I'm not sure which is correct.
Maybe this is the reason why commissioning failed with ST end device. #331

<img width="1920" alt="无标题" src="https://user-images.githubusercontent.com/11283852/174464023-5b469686-00a0-4bd4-9780-84f06ceb2c46.png">

[sniffer.zip](https://github.com/openthread/ot-efr32/files/8934665/sniffer.zip)

[2022-06-21 03:58] lancersky2017 commented on #333
Summary test result,
GSDK3.2.1,EFR32MG21F1024 as Commissioner,ST Sensor Joining OK
GSDK3.2.1,EFR32MG21F768 as Commissioner,nRF52840 Joining OK
GSDK3.2.1,EFR32MG21F768 as Commissioner,ST Sensor joining OK
GSDK4.0.2,EFR32MG21F768 as Commissioner,nRF52840 Joining OK
GSDK4.0.2,EFR32MG21F768 as Commissioner,ST Sensor Joining Failed
nRF52840 as Commissioner,ST Sensor Joining OK
[sniffer.zip](https://git

[2022-06-22 03:43] jinpeng1989 opened #334 "GSDK4.0.2 reply Acknowledgment timeout(more than 0.512ms)"
As IEEE 802.15.4-2006 describe, the transmission of an acknowledgment frame shall commence between aTurnaroundTime
and (aTurnaroundTime + aUnitBackoffPeriod) symbols after the reception of the last symbol of the data or
MAC command frame.

O-QPSK symbol rate 62.5Ksymbol/s, a symbol = 0.016ms
aTurnaroundTime = 0.016ms * 12 = 0.192ms
 (aTurnaroundTime + aUnitBackoffPeriod) = 0.016ms * (12 + 20) = 0.

[2022-06-22 04:16] jinpeng1989 commented on #334
GSDK3.2.1
![image](https://user-images.githubusercontent.com/97089879/174942292-5e5306b8-1458-4a3f-b758-50e9957f8b15.png)

GSDK4.0.2
![image](https://user-images.githubusercontent.com/97089879/174942138-11083a42-46b7-46e8-bbd4-cf9185c71081.png)

[2022-06-23 00:38] suveshpratapa commented on #331
Hi @lancersky the trace you attached in [joining failed.zip](https://github.com/openthread/ot-efr32/files/8926956/joining.failed.zip) doesn't seem too helpful, I see the following packet logs:

<img width="1220" alt="Screen Shot 2022-06-23 at 6 04 37 AM" src="https://user-images.githubusercontent.com/66088488/175182885-39df4738-5c43-4b32-a39f-c7c613e78d53.png">

However, I did see reassembly timeo

[2022-06-23 02:37] suveshpratapa commented on #333
@lancersky We have a set of incoming changes soon to address all the timing values in our platform layer corresponding to our latest GSDK release.  I will let you know when that is merged.

You said you notice success when you change `timings.rxToTx value to 192`.  What was the value there before you changed it?

[2022-06-23 02:41] suveshpratapa commented on #333
@lancersky We just recently merged a set of changes to bring support to our GSDK 4.1 release, along with adjustments to timings for CSL and improved ACK reaction times etc. Please try with the latest `ot-efr32` code and GSDK 4.1 if possible.  Please let me know if you can't move to the latest GSDK for any reason.  I would highly advise using the latest code.

[2022-06-23 02:43] suveshpratapa commented on #334
This should be highly improved with our latest GSDK 4.1, and we just recently merged all supporting changes for that GSDK [into `ot-efr32`](https://github.com/openthread/ot-efr32/commit/730b745afb306b5dd62762f1c890be42031deb63).  Please let us know if you can try this with the latest GSDK 4.1.

[2022-06-23 02:45] lancersky2017 commented on #333
Hi @suveshpratapa
We also tried GSDK4.1.0, and the RCP firmware built from Simplicity Studio IDE. But the same fails.
This `timings.rxToTx` value is 256 in GSDK4.1.0 and the same with GSDK4.0.2.

[2022-06-23 02:58] lancersky2017 commented on #333
Yeah,
We tried different platform solutions and lots of tests.
RCP firmware base on GSDK4.0.2 as Commissioner, the nrf52840 joining success, but the STM32WB not.
When I change and only change `timings.rxToTx` to 192, it solve the problem.
Is the cause of the problem as described in #334?

[2022-06-23 02:59] suveshpratapa commented on #333
@lancersky Let me get back to you in a day after discussing this further.  Thank you for the info in https://github.com/openthread/ot-efr32/issues/334

[2022-06-28 16:28] suveshpratapa commented on #334
@lancersky I know you mentioned that changing `timings.rxToTx` to 192 solves this issue for you.  We made a change to increase that value to 256 **_only_** for Thread 1.2 or higher, as we noticed better CSL and link metrics performance with that number. This is for cases like accommodating enhanced ACKs that could be encrypted.

We are now revisiting our change to `timings.rxToTx`

[2022-08-26 17:50] gabekassel opened #388 "How to use custom hal-config and efr32mg1.ld linker doc"
I noticed that recent changes have moved the hal-config and efr32mgx.ld out of this repo. I'm presuming these are linked from GSDK using the defaults in the SDK.

I have customizations to both files required for this to build/run for my platform. Before I fork the entire GSDK, is there a preferred way to pass these in?

cc: @lmnotran

Thanks

[2022-08-30 17:29] lmnotran commented on #388
Hey @gabekassel , thanks for pointing this out! Sorry it's been a few days since you posted. I'm working on writing something up and will have a more formal response with detailed instructions. I should be able to get back to you by EOD tomorrow

[2022-08-30 17:30] lmnotran commented on #388
CC: @romacdon

[2022-09-01 19:49] lmnotran commented on #388
Hey @gabekassel ! Sorry for the delay.

As part of  https://github.com/openthread/ot-efr32/pull/324, the decision was made to deprecate the old hal-config method for configuration. This allowed us to transition to leveraging the new [Silicon Labs SLC tool](https://www.silabs.com/documents/public/user-guides/ug520-software-project-generation-configuration-with-slc-cli.pdf) for generating config fil

[2022-09-01 21:29] gabekassel commented on #388
Thanks Mason. I'll give it a try when time permits.

[2022-09-06 16:17] gabekassel commented on #388
Actually I think this an arm mac issue. Any help for:
[code]

[2022-09-06 18:03] romacdon commented on #388
Hi @gabekassel,  @lmnotran  is out today but I believe you need Java 64-bit JVM version 11 or higher, available through Amazon Correto as documented in section 2 of https://www.silabs.com/documents/public/user-guides/ug520-software-project-generation-configuration-with-slc-cli.pdf.  Mason and I will sync up tomorrow when he returns.

[2022-09-06 18:26] gabekassel commented on #388
@mhallam91 confirmed SLC isn't supported on ARM macs yet. So I'll go with a VM for now

[2022-09-06 19:59] gabekassel commented on #388
actually i think this is incompatible on ARM in general
[code]

[2022-09-07 19:17] lmnotran commented on #388
@gabekassel Did you try running `./script/bootstrap` ? It'll install [`openjdk@11`](https://github.com/openthread/ot-efr32/blob/f4ed9924e7b2c74c5612ff42cd3f828a2a762161/script/bootstrap#L54) which is the version of java that I've been using.

Both @romacdon and @bertoldi-silabs have M1 Macs and I've confirmed that they both are able to use https://www.silabs.com/documents/login/software/slc_cli_ma

[2022-09-14 09:20] #137 closed

[2022-09-14 09:22] romacdon commented on #331
Closing based on proposed baud rate change.

[2022-09-14 09:22] #331 closed

[2022-09-14 09:27] romacdon commented on #388
@gabekassel are you still experiencing issues running SLC?

[2022-09-14 11:54] gabekassel commented on #388
@romacdon yes, I'm still having trouble running SLC. I believe this is mostly due to not having an x86 machine at the moment (I have an arm64 Ubuntu VM on m1 Mac, for example). I haven't had time this week to come back to it.

Simplest solution is to crack open an older intel Mac or setup a cloud host for this.

[2022-09-14 11:58] romacdon commented on #388
@gabekasselI I also have an M1 MAC but I'm able to run SLC without the use a VM so something must be different with my setup and yours. Have you tried @lmnotran's suggestion above and running ./script/bootstrap?

[2022-09-14 12:09] gabekassel commented on #388
Yes I did. Are you using ubuntu arm64 or a different VM guest OS?

I can play with this again today if time permits.

[2022-09-14 12:24] romacdon commented on #388
I'm not using a VM at all.  I'm am running SLC from macOS.

[2022-09-14 16:15] gabekassel commented on #388
@romacdon my current sticking point
[code]

[2022-09-14 16:20] romacdon commented on #388
@gabekassel have you tried using the specific Java version mentioned in documentation? You need Java 64-bit JVM version 11 or higher, available through Amazon Correto as documented in section 2 of https://www.silabs.com/documents/public/user-guides/ug520-software-project-generation-configuration-with-slc-cli.pdf.

[2022-09-14 16:50] gabekassel commented on #388
better! here's where i get to next:
[code]

[2022-09-14 17:06] gabekassel commented on #388
I guess that's due to `The 'slc-cli' command could not be found in your PATH.`

[2022-09-14 17:19] gabekassel commented on #388
after installing manually and setting in my path (also removed the other jvm i had)
[code]

[2022-09-14 19:21] romacdon commented on #388
@gabekassel - Regarding this message - "The 'slc-cli' command could not be found in your PATH.". That is really not an issue.  The script first tries to use the slc command in your path and if it doesn't find it reports that message but then downloads it and use the version it downloads.

As for the "The JVM shared library "/Library/Java/JavaVirtualMachines/amazon-corretto-11.jdk/Contents/Home/bin

[2022-09-14 19:34] romacdon commented on #388
@gabekassel - I think I know what the issue is.  As @mhallam91 said SLC isn't supported on ARM macs yet. However, you should be able to load the x86-64 version of Java and run through Rosetta.  Thats how its working for me.

[2022-09-14 20:43] gabekassel commented on #388
makes sense! that seems to have done the trick

[2022-09-14 20:45] gabekassel commented on #388
failed on an actual build issue now. need to see if this is a real failure or toolchain issue
[code]

[2022-09-14 20:49] gabekassel commented on #388
here's 4161a. @romacdon have you seen this?
[code]

[2022-09-14 21:08] romacdon commented on #388
@gabekassel - I think the binary content pull down in the GSDK may be correct.  Can you try `git lfs pull` in the third_party/silabs/gecko_sdk directory.

[2022-09-14 23:12] gabekassel commented on #388
Thanks @romacdon - git-lfs did pull quite a bit more content, but still failing similarly
[code]

[2022-09-14 23:13] gabekassel commented on #388
though now it claims git lfs isn't installed in that directory/repo?
[code]

[2022-09-15 07:57] romacdon commented on #388
@gabekassel - Yes, you need to install git lfs - https://git-lfs.github.com/

Also, I'm curious by this comment - `git-lfs did pull quite a bit more content` - I wonder what got pulled down if you didn't have git-lfs installed.  Do you know when you last pulled into you ot-efr32 repo?

[2022-09-15 15:27] gabekassel commented on #388
I do have git-lfs installed. It seemed to pull the large files but then subsequently think lfs isnt provided in that submodule. I believe that message is saying the directory doesn't have LFS, not my host.

I can play around more.

[2022-09-15 17:07] gabekassel commented on #388
figured that out. have to run `git lfs install` once after brew install.
[code]

and it finally builds! woohoo
[code]

now...back to the original goal. i'll track through Mason's suggestions when i have time

[2022-09-15 17:37] romacdon commented on #388
Thats great news @gabekassel - sorry it was such a pain.  I'll work with the team here to see what we can to do to make this better.

[2022-09-22 13:24] gabekassel commented on #388
@lmnotran i finally got back to this. is `brd4151a` still supported? i get a build error setting that reference board, but `brd4161a` still works. our platfrom is closest to the latter.

[code]

[2022-09-22 13:27] lmnotran commented on #388
Almost all thread capable boards should be supported including brd4151a. Could you paste your command and the command line output?

[2022-09-22 14:44] gabekassel commented on #388
[code]
...
In file included from /Users/gabekas/ot-efr32/third_party/silabs/gecko_sdk/util/third_party/crypto/sl_component/sl_mbedtls_support/config/config-device-acceleration.h:52,
                 from /Users/gabekas/ot-efr32/src/platform_libs/openthread-efr32-rcp-eero/autogen/mbedtls_config_autogen.h:62,
                 from /Users/gabekas/ot-efr32/src/platform_libs/openthread-efr32-rcp-eero/c

[2022-09-23 09:21] romacdon commented on #388
@gabekassel have you modified anything in your ot-efr32 repo?  Can you do a "git status" and send along the result.  The build does work for Mason and I but I do know you needed to make some customizations for you device.

[2022-09-23 22:54] gabekassel commented on #388
this is something happening after applying @lmnotran 's draft PR as a patch on top of main. i'll look at it more closely. it builds fine with a clean main before trying to fork my own board config

[2022-09-24 18:38] romacdon commented on #388
@gabekassel I wasn't aware you were trying to use @lmnotran's PR.  He created that as an example and it was based off brd4161a not brd4151a.  I think if you follow the instructions in this post, https://github.com/openthread/ot-efr32/issues/388#issuecomment-1234711642, but use brd4151a you should be able to recreate what Mason's had done for brd4161a.

[2022-09-24 18:40] gabekassel commented on #388
Makes sense. I'll follow the instructions more closely.

[2022-09-26 17:12] suveshpratapa commented on #333
@lancersky2017 I'm not sure if you've had any issues with this since we last talked?  Are you still waiting for any type of resolution?

PS. We advise you move to the latest SiLabs GSDK 4.1.1 to make use of further stability and performance fixes.

[2022-09-26 17:12] #333 closed

[2022-09-26 17:13] #334 closed

[2022-09-28 15:50] romacdon commented on #388
I think the directory is "platform/config" not "platform_libs/config" but yes thats where you will want to customize things for your hardware.

[2022-09-28 21:09] gabekassel commented on #388
i think Mason named it `platform_libs` in the example here?
<img width="445" alt="Screen Shot 2022-09-28 at 2 09 31 PM" src="https://user-images.githubusercontent.com/2759863/192889225-bf22a2f7-55ed-475e-ba96-93b1235d5920.png">

[2022-09-28 22:55] romacdon commented on #388
@gabekassel I see now.  In his instructions he says

[code]

So essentially the directory name `platform/config` will become `platform_libs/openthread-efr32-rcp-eero/config` (or `platform_libs/openthread-efr32-soc-eero/config`)

[2022-09-29 22:09] lmnotran commented on #388
Yes, your `hal-config.h` changes will need to be ported to the new set of configuration files in `src/platform_libs/openthread-efr32-XXX-eero/config`.

[2022-09-30 16:46] gabekassel commented on #388
Thanks. That was pretty simple. Next I need to figure out how to re-implement some diag commands we added, and make sure the application_properties struct is correctly added to create a GBL.

[2022-09-30 21:43] gabekassel commented on #388
@lmnotran can you confirm that HAL config changes, especially flipping pin assignment for something like CTS/RTS, only needs to happen in `sl_uartdrv_usart_vcom_config.h` and not in any files pulled in from gecko sdk directly?

[2022-10-03 20:32] romacdon commented on #388
Hi @gabekassel, anything in the config directory should be customizable.   Which specific files were you referring to?  For CTS/RTS, you will need to modify `sl_uartdrv_usart_vcom_config.h` as you mentioned and also `pin_config.h`.

[2022-10-03 22:56] gabekassel commented on #388
Thanks. will look at pin_config.h as well.

[2022-10-05 14:36] romacdon commented on #388
@gabekassel you're right.  It does not exist on the GitHub side of things.  To answer your previous question about which files to modify when changing the pin configuration I went into Simplicity Studio and created a dummy project then tried modifying some pins to see what generated files got updated.  I noticed that two files got updated, `sl_uartdrv_usart_vcom_config.h` and `pin_config.h`.  Howe

[2022-10-06 18:19] gabekassel commented on #388
thanks @romacdon - my first attempt resulted in not being able to communicate with the NCP after i flashed it. we have CTS/RTS flipped which is usually the reason this happens. wondering if i need to edit any files in GSDK sources or it may be a totally different issue

i can build for brd4151a and flash to wstk without my pin flip to test first, i suppose

[2022-10-06 19:38] romacdon commented on #388
@gabekassel you should not have to modify anything in the GSDK (third_party/silabs/gecko_sdk).  Anything that needs to be customized should be capable of being changed from the generated config directory.  In the previous, hal-config build env you didn't change anything in the gsdk did you?

[2022-10-07 17:03] gabekassel commented on #388
@romacdon correct. i guess i'll switch back to WSTK to test my changes

[2022-10-21 09:44] lancersky opened #439 "build failed"
[code]

[2022-10-21 17:47] lmnotran commented on #439
Hi @lancersky,

It looks like you need to do a git LFS pull in gecko_sdk

[code]

If git-lfs isn't installed in your system, you should run `./script/bootstrap` to install all prerequisites.

You might also run into the odd case where you have git-lfs installed in your system, but the hooks aren't installed for the submodule. If that's the case, you'll want to do the following

[code]

Please let

[2022-10-24 02:00] lancersky commented on #439
Hi @lmnotran
It solves the problem, thanks.

[2022-10-24 02:00] #439 closed

[2022-10-27 17:13] brian-level opened #444 "Support for newer chips"
Some/all of the EFR32 chips supported by ot-efr32 aren't available for commercial purposes due to either supply chain issues (lack of 90nm node supply) or other issues.

It would be great to see OpenThread support more modern series 2 chips.

I'd specifically like Sub-GHz support for the EFR32FG23 / EFR32ZG23B.  I *think* that means at least getting the proper RAIL libraries in the GSDK

[2022-11-02 20:40] jwhui opened #449 "[github-actions] macos build check failing"
https://github.com/openthread/ot-efr32/actions/runs/3378866708/jobs/5613601080

[2022-11-07 08:28] jwhui commented on #449
@lmnotran @romacdon , can someone help take a look at this issue?

[2022-11-07 18:30] #449 closed

[2022-11-08 18:09] gabekassel commented on #388
@romacdon @lmnotran it looks like things have already been restructured quite a bit for the uart+spi division. i did notice a `skip_generation` -- could i follow similar steps to above but pass that flag and not move the generated files to a new location?

please advise if the approach should be the same now.

[2022-11-08 18:27] lmnotran commented on #388
@gabekassel - I added `--skip_generation` when I was iterating on PAL changes. It was never meant to be used to allow you to keep the `build/brdXXXXy/slc` folder around indefinitely. I would advise against keeping the generated files in that folder as the `build` folder is intended to be ephemeral in nature.

Are there any pain points in particular that you're running into?

[2022-11-08 18:29] gabekassel commented on #388
It seems like path names and structuring in the main CMakefile have changed, so I want to be sure I'm updating the right things. It didn't immediately feel like your PR example matched up any longer.

[This](https://github.com/openthread/ot-efr32/blob/main/CMakeLists.txt#L126) is obvious.
What lines should i comment out around [this](https://github.com/openthread/ot-efr32/blob/main/script/build#L1

[2022-11-09 03:23] gabekassel commented on #388
Further, here's what I've been trying to do and struggling with.

1. Built `brd4151a` from bone stock `main`
2. Tested connecting to it using ot-daemon on PC both over J-Link and the UART pins on breakout header on WSTK - worked
3. Commented out generation steps and edited CMakeList as directed such as below and rebuilt:
[code]
4. Again tried to UART in and couldn't

Still confused what I'm missin

[2022-11-09 17:41] gabekassel commented on #388
I got this working, but not sure it's as you expected.

In addition to changing `sl_uartdr_usart_vcom_config.h` in `/src/platform_libs/openthread-efr32-rcp-eero/config/` i also had to dig into `../third_party/silabs/gecko_sdk/hardware/board/config/brd4151a_brd4001a` (not sure if it's pulling 4001a or 4002a so changed both) then it worked.

this leads me to think the defines generated by slc outsid